@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
    url('/fonts/ClashDisplay-Variable.woff') format('woff'),
    url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --text-Color: rgba(255, 255, 255, 0.80);
  --text-Black: #000;
  --text-White: #fff;
  --color-yellow: #FFC600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #5534B3;
  font-style: normal;
  line-height: normal;
}

:is(h1, h2, h3, h4, h5, h6, p, button, a, li, article, img, a span, label)::-moz-selection,
:is(h2, h1, li) span::-moz-selection {
  background-color: #410885;
  color: var(--text-White);
}

:is(h1, h2, h3, h4, h5, h6, p, button, a, li, article, img, a span, label)::selection,
:is(h2, h1, li) span::selection {
  background-color: #410885;
  color: var(--white);
}

/* ul{
  list-style-type: none;
} */
a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1340px;
  margin: auto;
}

.bold {
  font-weight: 700;
}

p,
a {
  color: var(--text-Color);
  font-size: 16px;
  font-weight: 400;
}

.main-btn,
.trans-btn {
  border: 0;
  background: transparent;
  box-shadow: none;
}

.main-btn.yellow-btn {
  border-radius: 10px;
  border: 1px solid #09A7F0;
  background: linear-gradient(180deg, #FC5461 62.49%, #FC5461 84.7%, #FC5461 98.16%);
  padding: 14px 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  gap: 12px;
}

section {
  padding: 50px 0 90px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ClashDisplay-Variable';
  margin: 0;
}

h1 {
  color: var(--text-White);
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 10px;
  line-height: 90px;
}

h2 {
  color: var(--text-White);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 6px;
}

h3 {
  color: var(--text-White);
  font-size: 24px;
  font-weight: 600;
}

h6 {
  color: var(--text-White);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.content-wrapper h2,
.section-heading h2 {
  margin-bottom: 22px;
}

.section-heading p {
  max-width: 992px;
  margin: auto;
}

.content_heading {
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}

.content_sab_heading {
  margin-bottom: 8px;
  letter-spacing: 5px;
}

/* Header css  */
.hero-section {
  background: url(/assets/images/hero-bg.png) no-repeat;
  padding: 0px 0 200px 0;
}

.hero_top {
  margin-top: 50px;
}

.header a {
  font-weight: 500;
  text-transform: uppercase;
}

.header a.active {
  font-weight: 700;
  color: var(--text-White);
}

.header svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header .container::after {
  content: "";
  position: absolute;
  background: url(/assets/images/header-line.png) no-repeat;
  width: 100%;
  height: 41px;
  bottom: -15px;
  left: 24px;
  background-position: bottom center;
  background-size: cover;
  display: none;
}

.download-button img {
  max-width: 30px;
}

/* hero section */
.hero-top {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-logo {
  max-width: 98px;
}

.hero-top .icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #FC5461;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-content-img {
  margin-left: -35px;
}

.hero-content button.main-btn.yellow-btn {
  max-width: 470px;
  font-size: 28px;
}

/* aboutus-section */
.aboutus-section {
  padding: 20px 0;
  z-index: 9;
}

.aboutus-section::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* Change the initial position to the right edge */
  background: url(/assets/images/union-bg.png) repeat;
  background-size: cover;
  background-position: center;
  display: none;
}

@keyframes forest {
  0% {
    left: 100%;
    /* Start from the right edge */
  }

  100% {
    left: -100%;
    /* Move to the left edge */
  }
}

/* features section */
.feature-boxs {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.feature-box {
  background-color: #FE727B;
  box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 80px;
  display: flex;
  gap: 20px;
  max-height: 120px;
  transition: all 0.3s ease-in-out;
}

.feature-content {
  padding: 17px 0 0px 30px;
}

.feature-box .feature-content h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.feature-box .feature-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Display a maximum of three lines */
  -webkit-box-orient: vertical;
}

.feature-boxs2 .feature-content {
  padding: 17px 30px 0px 0px;
}

.feature-box .feature-icon {
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px #8B39EE inset;
  border-radius: 50%;
  padding: 15px;
  min-width: 120px;
  min-height: 120px;
  transition: all 0.3s ease-in-out;
}

.feature-box:hover .feature-icon {
  background-color: #5534B3;
}

.feature-box .feature-icon svg path {
  transition: fill 0.3s ease-in-out;
  fill: #fff;
}

.feature-box:hover {
  filter: drop-shadow(6px 0px 8px rgba(0, 0, 0, 0.25));
}

.feature-box:hover .feature-icon {
  filter: drop-shadow(6px 0px 8px rgba(0, 0, 0, 0.25));
}

.feature-box:hover .feature-icon svg path {
  fill: #5534B3;
}

.feature-icon2 {
  background-color: #FE646F;
  box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.24) inset;
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* testimonial */
/* 
.aboutus-section::after {
  background: url(/assets/images/testtmonial-union.png) repeat;
} */
.swiper {
  margin-top: 50px;
  padding-bottom: 35px !important;
}

.swiper-slide {
  background-color: #FE646F;
  ;
  box-shadow: 0px 8px 8px 0px rgba(255, 255, 255, 0.25) inset, 0px -8px 8px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 35px;
  padding: 60px 60px 40px;
}

.slide-content .main-content {
  position: relative;
  margin-bottom: 50px;
  padding: 0 50px;
}

.slide-content .main-content::before,
.slide-content .main-content::after {
  content: "";
  background: url(/assets/images/start-column.png) no-repeat;
  width: 37px;
  background-size: contain;
  position: absolute;
  height: 29px;
  left: 0;
  top: -16px;
}

.slide-content .main-content::after {
  left: auto;
  right: 0;
  top: auto;
  bottom: -16px;
  padding: 0 50px;
  transform: rotate(180deg);
}

.testimonial-box {
  max-width: fit-content;
  margin-left: auto;
  display: flex;
  gap: 30px;
  align-items: center;
}

.testimonial-box img {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-fit: top center;
}

.testimonial .swiper-pagination {
  position: relative;
  top: 24px !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background: #FE646F !important;
}

/* faq */
.faq-accordion li {
  background-color: #FE646F;
  box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.25) inset, 0px -3px 8px 0px rgba(255, 255, 255, 0.25) inset;
  border-radius: 10px;
  padding: 25px;
  margin-top: 28px;
}

.faq-accordion {
  list-style-type: none;
}

.faq-accordion .discription-menu li {
  border: 0;
  box-shadow: none;
  padding: 0px;
  margin-top: 10px;
}

.faq-accordion li button {
  display: flex;
  width: 100%;
  margin-bottom: 0px;
  border: 0;
  background-color: transparent;
  justify-content: space-between;
}

.accordion_item.active span img {
  transform: rotate(180deg);
}

.answer_wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.answer_wrapper.open {
  transition: height 0.3s;
  height: auto;
}

.faq-accordion h6 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  text-align: start;
}

/* stories section */
.story-box {
  border-radius: 10px;
  border: 1px solid var(--Text-Color, rgba(255, 255, 255, 0.80));
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.story-box img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.story-content {
  padding: 10px;
}

.story-box:hover {
  border: 0;
  background-color: #FE646F;
  box-shadow: 0px 3px 8px 0px rgba(255, 255, 255, 0.25) inset, 0px -3px 8px 0px rgba(255, 255, 255, 0.25) inset;
}

.story-box:hover img {
  padding: 10px 10px 0;
}

.story-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* footer */
.footer-section {
  padding: 60px 0 0;
  background: #432693;
}

.footer-section::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(/assets/images/footer-union.png) repeat;
  background-size: cover;
  background-position: 50%;
}

.footer-section h6 {
  margin-bottom: 40px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 20px;
}

.footer-section a {
  color: var(--text-White);
  font-size: 16px;
  font-weight: 400;
}

.social-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 260px;
}

.social-ul li {
  min-width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  background: #FE646F;
}

.copyrights {
  border-top: 1px solid rgba(255, 255, 255, 0.315);
  padding: 25px 0;
  text-align: center;
}

/* respnsive css start */
@media screen and (max-width:1200px) {

  .content-wrapper h2,
  .section-heading h2 {
    margin-bottom: 7px;
  }

  h2 {
    font-size: 40px;
  }

  h6 {
    font-size: 16px;
  }

  section {
    padding: 30px 0 50px 0;
  }

  .aboutus-section {
    padding: 120px 0 80px;
  }

  .section-heading p {
    max-width: 800px;
  }

  .slide-content .main-content {
    margin-bottom: 20px;
  }

  .swiper-slide {
    padding: 35px 20px 22px;
  }

  .footer-section {
    padding: 82px 0 0;
  }
}

@media screen and (max-width:1200px) {
  .hero-section {
    padding: 0px 0 100px 0;
  }

  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero_top {
    margin-top: 10px;
  }

  .feature-box {
    gap: 7px;
    max-height: 100px;
  }

  .feature-box .feature-content h6 {
    font-size: 14px;
  }

  .feature-box .feature-content p {
    font-size: 12px;
  }

  .feature-box .feature-icon {
    min-width: 100px;
    min-height: 100px;
  }

  .feature-icon2 {
    min-width: 70px;
    min-height: 70px;
  }
}

@media screen and (max-width:991px) {
  h2 {
    font-size: 30px;
    letter-spacing: 3px;
  }


  h1 {
    font-size: 40px;
    line-height: 50px;
  }

  h1 span {
    display: none;
  }

  h1 br:first-child {
    display: none;
  }

  .aboutus-section {
    padding: 55px 0 40px;
  }

  .social-ul li {
    min-width: 40px;
    height: 40px;
  }

  .faq-accordion {
    list-style-type: none;
    padding: 0 10px;
  }

  .feature-box {
    gap: 5px;
    max-height: 66px;
    align-items: center;
  }

  .feature-box .feature-content h6 {
    font-size: 12px;
  }

  .feature-box .feature-content p {
    font-size: 10px;
  }

  .feature-content {
    padding: 7px 0 0px 10px;
  }

  .feature-box .feature-icon svg {
    max-width: 30px;
  }

  .feature-boxs2 .feature-content {
    padding: 7px 10px 0px 10px;
  }

  .feature-box .feature-icon {
    min-width: 66px;
    min-height: 66px;
    padding: 8px;
  }

  .feature-icon2 {
    min-width: 50px;
    min-height: 50px;
  }
}

@media screen and (max-width:767px) {
  h3 {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .hero-content-img {
    margin-left: 0;
  }

  .hero-section .image-banner {
    padding: 0 50px;
  }

  .hero-section {
    padding: 0px 0 65px 0;
  }

  .hero-content {
    gap: 0px;
  }

  .feature-section {
    padding: 0;
  }

  .header-menu {
    height: 220px;
    z-index: 99999;
    position: absolute;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
    background: linear-gradient(180deg, rgb(252, 84, 97) 0%, #AD3EC4 100%);
    box-shadow: 0 12px 30px rgb(94, 94, 94);
    transition: .3s;
    right: -230px;
    transition: .5s;
    top: 77px;
    min-width: 150px;
    padding: 30px;
    border-radius: 30px 0 0 30px;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .header a {
    color: #000;
  }

  .header a.active {
    color: #000;
  }

  .header-menu.active {
    right: 0;
  }

  .header-menu .navbar-nav {
    flex-direction: column !important;
    gap: 15px;
  }

  .header .container::after {
    display: none;
  }

  .togglebtn {
    color: var(--text-White);
    min-width: 46px;
    margin-left: 10px;
  }

  .header-logo {
    max-width: 66px;
  }

  .main-btn.yellow-btn {
    padding: 10px 15px;
  }

  .swiper-slide {
    padding: 19px 25px 11px;
  }

  .slide-content .main-content {
    padding: 0 0;
  }

  .slide-content .main-content::before,
  .slide-content .main-content::after {
    width: 14px;
    height: 15px;
    left: -16px;
    top: 5px;
  }

  .slide-content .main-content::after {
    width: 14px;
    top: auto;
    bottom: 0;
    left: auto;
    right: 4px;
  }

  .testimonial-box {
    gap: 10px;
  }

  .testimonial-box img {
    max-width: 55px;
    height: 55px;
  }

  .faq-accordion {
    list-style-type: none;
    padding: 0 10px;
  }

  .faq-accordion li {
    padding: 12px;
    margin-top: 12px;
  }

  .faq-accordion h6 {
    font-size: 14px;
  }

  .footer-section h6 {
    margin-bottom: 20px;
  }

  .feature-boxs {
    gap: 20px;
  }

  .no-bot {
    max-width: 45px;
  }

  .swiper {
    margin-top: 25px;
  }

  .footer-section {
    padding: 55px 0 0;
  }

  .footer-logo img {
    max-width: 100px;
  }
}

@media screen and (max-width:575px) {
  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .download-button {
    position: -webkit-sticky;
    position: fixed;
    bottom: 18px;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .copyrights {
    padding: 10px 0 95px;
  }
}